<h1>Let's play Blackjack.</h1>

<p>Welcome, <%= session[:player_name] %>.</p>

<p>Dealer's Hand:</p>
<ul>
  <% session[:dealer_hand].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<br />

<p>Your Hand:</p>
<ul>
  <% session[:player_hand].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<p>You have <%= total_hand(session[:player_hand]) %>.

<% if !@error %>
  <p>Would you like to hit or stay?</p>

  <form action="/game/player/hit" method="post">
    <input type="submit" class="btn" value="Hit" />
  </form>
  <form action="/game/player/stay" method="post">
    <input type="submit" class="btn" value="Stay" />
  </form>
<% end %>
</p>