<h1>Let's play Blackjack.</h1>

<p>Welcome, <%= session[:player_name] %>.</p>

<p>Dealer's Hand:</p>
<ul class='inline'>
  <% session[:dealer_hand].each do |card| %>
    <li><img class='img-polaroid' src="/images/cards/<%= "#{card[1]}_#{card[0]}.jpg" %>" /></li>
  <% end %>
</ul>

<br />

<p>Your Hand:</p>
<ul class='inline'>
  <% session[:player_hand].each do |card| %>
    <li><img class='img-polaroid' src="/images/cards/<%= "#{card[1]}_#{card[0]}.jpg" %>" /></li>
  <% end %>
</ul>

<p>You have <%= total_hand(session[:player_hand]) %>.

<% if @error %>
  <p>Would you like to play again? (Not built yet...)</p>
<% else %>
  <p>Would you like to hit or stay?</p>

  <form action="/game/player/hit" method="post">
    <input type="submit" class="btn" value="Hit" />
  </form>
  <form action="/game/dealer" method="post">
    <input type="submit" class="btn" value="Stay" />
  </form>
<% end %>
</p>